In [1]:
import numpy as np
import pandas as pd

In [34]:
WorldConsumption =pd.read_csv("World Consumption.csv")
WorldConsumption

    Region  Year                  Type         Value      Date
0    World  1965  Traditional biofuels   9162.456946  1/1/1965
1    World  1965            Hydropower    919.770276  1/1/1965
2    World  1965                 Solar      0.000000  1/1/1965
3    World  1965                  Wind      0.000000  1/1/1965
4    World  1965      Other renewables     17.985232  1/1/1965
..     ...   ...                   ...           ...       ...
260  World  2017  Traditional biofuels  10895.320490  1/1/2017
261  World  2017            Hydropower   4065.443127  1/1/2017
262  World  2017                 Solar    453.517657  1/1/2017
263  World  2017                  Wind   1127.989587  1/1/2017
264  World  2017      Other renewables    584.975827  1/1/2017

[265 rows x 5 columns]

In [31]:
WorldConsumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Region       265 non-null    object
 1   Year         265 non-null    int64
 2   Type         265 non-null    object
 3   Value        265 non-null    float64
 4   Date         265 non-null    object
 5   Grand Total  54 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 12.6+ KB

In [37]:
duplicate_rows = WorldConsumption[WorldConsumption.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

Number of duplicate rows: 0

In [14]:
null_values = WorldConsumption.isnull().sum()
print(null_values)

Region           0
Year             0
Type             0
Value            0
Date             0
Grand Total    211
dtype: int64

In [38]:
pivot = WorldConsumption.pivot(index=['Year','Region','Date'], columns='Type', values='Value')
pivot = pivot.reset_index()
print(pivot)
pivot.to_csv('Cleaned_WorldConsumption.csv', index=False)

Type  Year Region      Date   Hydropower  Other renewables       Solar  \
0     1965  World  1/1/1965   919.770276         17.985232    0.000000
1     1966  World  1/1/1966   986.285872         19.806007    0.000000
2     1967  World  1/1/1967  1009.244569         19.986571    0.000000
3     1968  World  1/1/1968  1059.062860         22.120045    0.000000
4     1969  World  1/1/1969  1122.442526         23.257964    0.000000
5     1970  World  1/1/1970  1174.560348         25.693196    0.000000
6     1971  World  1/1/1971  1221.632730         27.879168    0.000000
7     1972  World  1/1/1972  1276.766396         29.877101    0.000000
8     1973  World  1/1/1973  1292.752251         32.084924    0.000000
9     1974  World  1/1/1974  1419.046721         33.958814    0.000000
10    1975  World  1/1/1975  1440.451903         34.483679    0.000000
11    1976  World  1/1/1976  1435.228335         38.460956    0.000000
12    1977  World  1/1/1977  1472.559263         40.562557    0.000000
13    1978  World  1/1/1978  1588.704502         42.967478    0.000000
14    1979  World  1/1/1979  1667.584671         46.169329    0.000000
15    1980  World  1/1/1980  1698.609443         49.385364    0.000000
16    1981  World  1/1/1981  1725.232746         53.154542    0.000000
17    1982  World  1/1/1982  1796.883172         61.370556    0.000000
18    1983  World  1/1/1983  1879.268978         68.017933    0.003000
19    1984  World  1/1/1984  1941.059184         76.009218    0.006311
20    1985  World  1/1/1985  1979.589773         77.792231    0.011747
21    1986  World  1/1/1986  2006.711404         85.579133    0.015184
22    1987  World  1/1/1987  2034.514633         91.642854    0.010603
23    1988  World  1/1/1988  2099.110818         94.280727    0.010196
24    1989  World  1/1/1989  2086.541190        104.034313    0.262223
25    1990  World  1/1/1990  2161.048084        116.540330    0.388295
26    1991  World  1/1/1991  2213.132757        121.497246    0.505203
27    1992  World  1/1/1992  2211.505593        130.442625    0.468585
28    1993  World  1/1/1993  2344.266151        134.825675    0.556698
29    1994  World  1/1/1994  2359.692519        139.914483    0.600014
30    1995  World  1/1/1995  2488.985020        145.719374    0.640814
31    1996  World  1/1/1996  2523.825940        149.812928    0.705208
32    1997  World  1/1/1997  2569.623890        161.066725    0.756585
33    1998  World  1/1/1998  2590.559549        168.571339    0.831789
34    1999  World  1/1/1999  2608.299500        177.198316    0.916197
35    2000  World  1/1/2000  2654.703506        185.452381    1.125407
36    2001  World  1/1/2001  2586.479369        191.228515    1.409074
37    2002  World  1/1/2002  2633.589747        205.853182    1.775371
38    2003  World  1/1/2003  2628.619237        217.379149    2.269183
39    2004  World  1/1/2004  2805.326672        234.572739    2.986799
40    2005  World  1/1/2005  2915.841286        254.823595    4.177706
41    2006  World  1/1/2006  3026.572097        271.872761    5.732720
42    2007  World  1/1/2007  3079.435042        294.839449    7.771913
43    2008  World  1/1/2008  3256.250267        315.046332   12.622140
44    2009  World  1/1/2009  3250.203194        339.413259   20.965023
45    2010  World  1/1/2010  3432.948977        378.851479   33.683157
46    2011  World  1/1/2011  3499.199595        397.908439   65.035862
47    2012  World  1/1/2012  3666.772983        430.849657  100.764432
48    2013  World  1/1/2013  3793.229045        464.060209  139.058571
49    2014  World  1/1/2014  3883.143443        502.158919  197.910508
50    2015  World  1/1/2015  3884.417357        536.466244  260.739219
51    2016  World  1/1/2016  4017.743773        556.623356  328.378114
52    2017  World  1/1/2017  4065.443127        584.975827  453.517657

Type  Traditional biofuels         Wind
0              9162.456946     0.000000
1              9218.172711     0.000000
2              9274.227277     0.000000
3              9330.622704     0.000000
4              9387.361065     0.000000
5              9444.444444     0.000000
6              9498.581964     0.000000
7              9553.029811     0.000000
8              9607.789765     0.000000
9              9662.863614     0.000000
10             9718.253158     0.000000
11             9773.960206     0.000000
12             9829.986579     0.000000
13             9886.334106     0.003000
14             9943.004630     0.006000
15            10000.000000     0.010500
16            10105.917510     0.010500
17            10212.956880     0.018500
18            10321.129970     0.032795
19            10430.448810     0.044756
20            10540.925530     0.064220
21            10652.572390     0.138831
22            10765.401790     0.195377
23            10879.426250     0.331580
24            10994.658420     2.649777
25            11111.111110     3.632471
26            11242.754900     4.086707
27            11375.958390     4.733212
28            11510.740080     5.697569
29            11647.118650     7.122930
30            11785.113020     8.261923
31            11924.742340     9.204601
32            12066.025980    12.017816
33            12208.983550    15.921260
34            12414.055730    21.216174
35            12500.000000    31.420937
36            12500.000000    38.390947
37            12470.000000    52.331757
38            12328.702370    62.916927
39            12159.752170    85.117162
40            12076.147290   104.085865
41            11993.117240   132.859068
42            11910.658060   170.682586
43            11828.765830   220.572119
44            11747.436660   275.949293
45            11666.666670   341.614478
46            11553.376600   436.786409
47            11441.186630   523.809398
48            11330.086100   645.302185
49            11220.064420   712.031697
50            11111.111110   831.384507
51            11003.215800   956.873542
52            10895.320490  1127.989587